
$white: #FFFFFF;
$black: #000000;
$blue: #5932EA;
$red: #DF0404;
$pink: #FFC5C5;
$green01: #16C098;
$green01_transparent: #16C09861;
$green02: #00B087;
$green03: #008767;

$gray01: #FAFBFF;
$gray02: #F9FBFF;
$gray03: #F5F5F5;
$gray04: #EEEEEE;
$gray05: #B5B7C0;
$gray06: #9197B3;
$gray07: #838383;
$gray08: #7E7E7E;
$gray09: #757575;
$gray10: #404B52;
$gray11: #292D32;
